html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.pink {
  color: #dd1972;
}

header {
  text-align: center;
  background-color: #404041;
  color: #fff;
  padding: 2.5%;
}

header h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 5px;
}

.header-ruler,
 header h3 {
  display: inline-block;
}

.header-ruler {
  width: 60px;
  margin: 5px 10px;
}

.header-narrow-text {
  font-weight: 300;
}

main {
  display: flex;
}

.left-column {
  width: 50vw;
  height: 100vh;
  background-color: #f7f7f7;
}

 /*
Global Classes by Jordan
Used in gameplay-cont section
*/

  .underline {
    text-decoration: underline;
  }

  .bold {
    font-weight: bold;
  }

  .text {
    font-size: 14px;
  }

  .sub-head {
    font-size: 16px;
  }

/*
Regular CSS Classes Used by Jordan
in gameplay-cont section
ordered by descending order
*/

.gameplay-cont {
  padding: 10px;
  width: 440px;
  background-color: white;
  border: solid 2px rgb(238,238,238);
}

.current-range {
  margin-bottom: 15px;
}

.challenger-title {
  margin-top: 4px;
}
/*
Challenger Guess is the first section in the form
 */
.challenger-guess {
  display: block;
  display: flex;
  margin-bottom: 26px;
}

.challenger-guess span label{
  display: block;
}

.challenger-guess span input{
  padding: 6px;
  border: solid 2px rgb(241,241,241);
}

.name-input {
  width: 260px;
  margin-right: 14px;
}

.guess-input {
  width: 140px;
}

.guess-button-cont {
  display: flex;
}

.main-button {
  border-radius: 25px;
  border-color: rgb(158,158,158);
  color: white;
  margin: auto;
  padding: 4px 17px;
  background-color: rgb(127,127,127);
}

.disabled {
  background-color: #d0d2d3;
  border-color: rgb(220,221,221);
}
/*
End of CSS for this Card
 */
.right-column {
  width: 50vw;
  height: 100vh;
  background-color: #d0d2d3;
}
