/* CSS Categories are ordered as follows:

- Reset
- General re-useable styles
- Global document styles
- Remainder of categories are ordered as they appear on-screen,
  from top > bottom and left > right

CSS rules are ordered alphabetically within categories
CSS declarations are ordered alphabetically within rules */

/*
CSS Reset
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*
General Styles for re-use
 */

 .align-center {
   text-align: center;
 }

 .align-left {
   text-align: left;
 }

 .align-right {
   text-align: right;
 }

 .bold {
   font-weight: bold;
 }

 .disabled {
   background-color: #d0d2d3;
   border-color: rgb(220,221,221);
 }

.pink {
  color: #dd1972;
}

.pink-border {
  border: solid 2px #dd1972;
}

.sub-head {
  font-size: 16px;
}

.text {
  font-size: .8em;
}

.white {
  background-color: #fff;
}

/*
End of general styles
 */

/*
Global styles for document elements
*/

button {
  background-color: rgb(127,127,127);
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  padding: 1% 2.5%;
}

.error-icon {
  height: 10px;
  width: 10px;
}

.error-message {
  display: inline-block;
  font-size: 12px;
  margin: 1% 0%;
}

header {
  background-color: #404041;
  color: #fff;
  padding: 1.5%;
  text-align: center;
}

.left-column {
  background-color: #f7f7f7;
  flex: 1;
  min-width: 300px;
  padding-bottom: 2.5%;
 }

main {
  display: flex;
  flex-wrap: wrap;
}

.right-column {
  background-color: #d0d2d3;
  flex: 1;
  min-width: 300px;
}

/*
End of global document styles
*/

/*
Page header styles
*/

header h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 5px;
}

header h3 {
  font-size: 15px;
}

.header-narrow-text {
  font-weight: 300;
}

.header-ruler {
  margin: 5px 10px;
  width: 45px;
}

.header-ruler,
 header h3 {
  display: inline-block;
}

/*
End of header styles
*/

/*
Set range form styles
 */

 .min-range,
 .max-range {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding-right: 5%;
 }

 .range-button {
   display: flex;
   flex-direction: column;
   margin-bottom: 5%;
   margin-top: 16px;
 }

.range-input {
  border: solid 2px rgb(241,241,241);
  padding: 6px;
}

.range-input label {
  display: block;
}

.set-range {
  border: solid 0.5px #e4e4e4;
  border-radius: 2px;
  font-size: 12px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  padding:  3% 2.5%;
  padding-bottom:  0%;
}

.set-range button {
  font-size: 15px;
  min-width: 70px;
  padding: 5px 15px;
}

.set-range h3 {
  font-size: 16px;
  margin-bottom: 1%;
}

.set-range-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.5%;
}

/*
End of range form styles
*/

/*
Main gameplay card styles
 */

 .challenger {
   margin-top: 4px;
 }

 .challenger-guess {
   display: flex;
 }

 .challenger-guess span label{
   display: block;
 }

 .challenger-guess span input{
   border: solid 2px rgb(241,241,241);
   padding: 6px;
   width: 94.6%;
 }

 .current-range {
   margin-bottom: 15px;
 }

.gameplay-cont {
  background-color: white;
  border: solid 2px rgb(238,238,238);
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 15px;
  padding: 10px;
}

.guess-button-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guess-button-cont button {
  flex-grow: 1;
  margin: 2.5%;
}

.guess-field-cont {
  width: 36.6%;
}

.name-field-cont {
  width: 63.4%;
}

.name-input {
  margin-right: 14px;
}

.range-numb {
  text-decoration: underline;
}

/*
End of main gameplay card styles
 */


 /*
Latest guess card styles
*/

.challenger-guess-number {
  margin-top: 2.5%;
}

.challenger-name {
  color: #808080;
  font-size: 20px;
  margin-bottom: 2.5%;
}

.error-cont {
  height: 26px;
  padding-left: 3px;
}

.guess-state {
  font-size: 18px;
}

.latest-guess {
  color: #dd1972;
  font-weight: bolder;
  font-size: 45px;
  height: 80px;
}

.latest-guesses {
  border: solid 2px rgb(238,238,238);
  height: 230px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 15px;
  padding: 10px;
}

.latest-guesses-cont {
  display: flex;
}

.latest-guess-cont {
  width: 100%;
}

.latest-guess-partition {
  border-left: 1px solid #d0d2d3;
  bottom: 25px;
  height: 190px;
  position: relative;
}

.latest-guess-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/*
End of latest guess card styles
 */

/*
Results card styles
*/

.close-button-circle {
  background-color: #6e6e6e;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 1% 5%;
}

.results-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 6%;
}

.results-bottom span {
  width: 32%;
}

.results-card {
  background-color: #fff;
  border: solid 0.5px gray;
  border-radius: 2.5px;
  color: #6e6e6e;
  font-size: 16.5px;
  margin: 2.5%;
}

.results-card hr {
  width: 90%;
}

.results-middle {
  font-size: 15px;
  padding: 2.5% 0;
  text-align: center;
}

.results-middle h2 {
  font-size: 35px;
  margin-bottom: 0.5%;
}

.results-top {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 15%;
}

.results-top span {
  width: 30%;
}

.winner {
  font-size: 28px;
}

/*
End of results card styles
*/
