html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #404041;
  color: #fff;
  padding: 2.5%;
}

header h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 5px;
}

.header-ruler,
 header h3 {
  display: inline-block;
}

.header-ruler {
  width: 60px;
  margin: 5px 10px;
}

.header-narrow-text {
  font-weight: 300;
}

.pink {
  color: #dd1972;
}
